.stage {
  margin-bottom: 8rem;
}
.media {
  position: relative;
  width: 100vw;
  height: auto;
  
  @media only screen and (min-width: 768px) {
    width: 50vw;
  }
}
.image {
  width: 100%;
  height: auto;
  max-width: 100vw;
}
.headline {
  display: flex;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;  
  
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 2rem;
  
  @media only screen and (min-width: 768px) {
    margin-left: 3rem;
    font-size: 4rem;
  }
}

.list {
  list-style: none;
}

.listItem {
  margin-bottom: 1rem;
  &:after {
    content: '> ';
    margin-left: 0.5rem;
  }
}